
:root{
    --color-beige: lightgrey;
    --color-red: rgba(177,0,80,255);
    --color-darkgrey: rgba(39,40,49,255);
    --color-orange: rgba(252,116,0,255);
    --color-yellow: rgba(253,232,93,255);
}

.hidden{
    display: none;
}


.lockpin-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    width: 18rem;
    border: 0.5rem solid black;
}

button{
    background-color: white;
    padding: 0.1rem;
    border-radius: 10%;
}

button:hover{
    background-color: lightgrey;
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    background-color: var(--color-darkgrey);
}

#header{
    padding-left: 25rem;
    padding-right: 35rem;
    text-decoration: underline;
    text-decoration-color: var(--color-orange);
    color: white;
    padding-bottom: 0.5rem;
}

#header:hover{
    color: var(--color-orange);
}

#bar{
    background-color: var(--color-orange);
    padding-top: 0.5rem;
}

main{
    display: flex;
    flex-direction: row;
}

.info-display{
    background-color: var(--color-beige);
    height: 92vh;
    width: 50%;
    padding-left: 0.3rem;
    text-wrap: pretty;
}

#resizer {
    width: 0.5rem;
    background-color: var(--color-orange);
    cursor: ew-resize;
    position: relative;
}

.map-display{
    width: 50%;
    height: 92vh;
    overflow:hidden;
    position:relative;
}

#map{
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    position:absolute;
}

